body {
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 2px;
	background-color: #FAEBD7;
}

	/* global */
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}	

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 25px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px; 
	color: #ffffff;
}

	/* header */
header{
	background: #000000;
	color: #ffffff;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 80px;
	min-height: 70px;
	border-bottom: #FAEBD7 3px solid;
}

header h3{
	margin-bottom: 0;
	padding: 0;
}

header a{
	color: #ffffff;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

header li{
	float: left;
	display: inline;
}

/*
ul li a {
 text-decoration: none;
 text-transform: uppercase;
 color: white;
 display: block;
}

ul li a:hover {
 text-decoration: underline;
 background-color: black;
}*/

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
 width: 90px;
 padding:2px; 
 transition: all 0.5s ease;
 background-color: #000000; 
} 
/*

nav ul li ul {
    visibility: hidden;
    border-top: none;
    opacity: 0;
    position: absolute;
    left: -10px;
    display: none;
    position: absolute;
    max-width: 500px;
    margin-top: 4px !important;
    padding-top: 10px;
    transition: all 0.5s ease;
    background: #000;
    min-width: 175px;
    z-index: 3000;
}
*/


header #branding img{
	width: 160px;
	height: 60px;
	padding-top: 20px; 
	padding-left: 10px;
}

header nav{
	float: right;
}

header .highlight, header .current a{
	color: #FAEBD7;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	text-decoration: underline;
}


/* showcase */
#showcase{
	min-height: 400px;
	background: url('../img/main-banner-new.png') no-repeat 70%;
	text-align: center;
	color: #ffffff;
}

#showcase img{
	margin-top: 300px;
	margin-bottom: 10px;
	padding-top: 5px;
}

/* boxes */
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: auto;
	padding: 40px;
}

#boxes .box img{
	height: 300px;
	width: 330px;
}

/* main */
article#main{
	min-height: 300px;
	text-align: center;
	padding: 0 100px;
	color: #000000;
}

#main h1{
	font-size: 40px;
	margin-bottom: 10px;
}

#main p{
	font-size: 12px;
}

/* services */
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

/* footer */
footer{
	padding: 10px 0;
	color: #ffffff;
	background-color: #000000;
	text-align: right;
	margin-top: 40px;
}

footer a{
	color: #ffffff;
	text-decoration: none;	
}

/* media queries */
@media(max-width:  768px){
	header #branding,
	header nav,
	header nav li,
	#boxes,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
}

	header{
		padding-bottom: 20px;
}
	#showcase h1{
		margin-top: 40px;
}

	#newsletter button, .quote button{
		display: block;
		width: 100%;
}

	#newsletter form input[type="email"], .quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;
}
